<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" media="screen and (min-width: 350px) and (min-height:600px)">
</head>
<body>
    <div id="div-form">
        <img src="../static/images/cacun2024-logo.png" id="cacun-mobile" alt="">

        <h1>Login</h1>


        <form action="">
            
            <p>
                <label for="matricula">Matricula: </label>
                <br>
                <input type="text" name="matricula" id="matricula">
            </p>
            <p>
                <label for="pass">Senha: </label>
                <br>
                <input type="password" name="pass" id="pass">
            </p>
            <p>
                <button type="submit">ENTRAR</button>
            </p>
        </form>

    </div>
</body>
</html>